---
layout: default
title: Nosotros
section_id: nosotros
---

<div class='full parallax' style='background-image: url(images/home/Equipo.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="Nosotros" color="#fff" tagline="Conoce la historia del SMM y el equipo que lo hace posible" class="big" %}º
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      <h3>Nuestra historia</h3>
      <p> El seminario de medicina de montaña se inició el 2001 con el único objetivo de difundir los conocimientos de seguridad y medicina de montaña entre todos los montañistas. Lo iniciaron Nicolás Thumm, Matías Irarrazabal y Sebastián Irarrázaval con el constante apoyo de Ernesto Olivares. </p>
      <p> A medida que han pasado los años este seminario ha crecido muchísimo gracias al apoyo del Club Andino Universitario. El Club ha sido fundamental en hacer crecer el evento gracias a la difusión, organización y auspiciadores que han conseguido. Su apoyo ha sido clave para seguir con su filosofía de <strong> entregar gratuitamente conocimientos de Medicina de Montaña a la comunidad de la forma más inclusiva y transversa posible.</strong> </p> <p> La libertad que nos entrega la montaña tiene que estar acompañada de conocimientos en seguridad y medicina para evitar accidentes y poder tratarlos de forma correcta cuando ocurren. En ese sentido, todos los conocimientos que difunde el seminario año a año cobran real sentido con tan sólo una vida que podamos salvar o un compañero que podamos rescatar en la difícil situación que es un accidente en la montaña, pero del cual nadie está exento. </p>
      <p> El gran motor del seminario siempre han sido sus asistentes, quienes son fundamentales en que siga creciendo. Es por esto que el equipo organizador agradece la participación de cada uno de los que asisten y son los difusores este seminario, instancia única para juntarnos a aprender de cómo prevenir accidentes y disfrutar de este deporte que tanto nos gusta que es el montañismo, el cual es finalmente una forma de vivir.</p>
      <h3>Club Andino Universitario (CAU)</h3>
      <div class=row>
        <div class='medium-4 columns'>
          <img src="/images/logo-cau.png" alt="logo cau"/>
          <div class='spacing'></div>
          <a href="http://www.cau.cl"> Visita la página del CAU </a>
        </div>
        <div class='medium-8 columns'>
          <p>El CAU, club organizador, fue constituido en julio del año 2004 por un grupo de estudiantes universitarios y profesionales, pertenecientes a la selección de montañismo de la Pontificia Universidad Católica de Chile, ante la necesidad de proyectarse hacia el futuro con las antiguas, actuales y nuevas generaciones de montañistas.</p>
        </div>
      </div>

    </div>
    <div class='medium-6 columns'>
      <h3>El equipo</h3>
      <h4>Coodinación Seminario Medicina de Montaña SMM</h4>
      <ul class='socials'>
        {% for member in site.data.team.managment %}
          <li>
            {{member.name}}: {{member.description}}
          </li>
        {% endfor %}
      </ul>

      <h4>Staff</h4>
      <ul class='socials'>
        {% for member in site.data.team.staff %}
          <li>
            {{member.name}}: {{member.description}}
          </li>
        {% endfor %}
      </ul>

      <h4>Directiva CAU</h4>
      <ul class='socials'>
        {% for member in site.data.team.board %}
          <li>
            {{member.name}}: {{member.description}}
          </li>
        {% endfor %}
      </ul>

      <h4>Equipo médico</h4>
      <ul class='socials'>
        {% for member in site.data.team.medical %}
          <li>
            {{member.name}}: {{member.description}}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>


{% include our-customers.html %}
