---
layout: default
section_id: home
slides:
  - bg: images/home/bg.png
    klass: centered-text
    title:
      klass: bottom-to-top
      text: 9 y 10 de Octubre 2024
    small_title:
      klass: bottom-to-top
      text: XXIII Versión del Seminario de Medicina de Montaña -  Híbrido
    buttons:
      klass: bottom-to-top
      items:
        - text: Inscripciones
          link_to: https://www.passline.com/view-event/seminario-de-medicina-de-montana-cau-2024

works:
  - image: images/gallery/home-01.jpg
    title: Ver galería
    link_to: portfolio.html
  - image: images/gallery/home-02.jpg
    title: Ver galería
    link_to: portfolio.html
  - image: images/gallery/home-03.jpg
    title: Ver galería
    link_to: portfolio.html
  - image: images/gallery/home-04.jpg
    title: Ver galería
    link_to: portfolio.html
  - image: images/gallery/home-05.jpg
    title: Ver galería
    link_to: portfolio.html
  - image: images/gallery/home-06.jpg
    title: Ver galería
    link_to: portfolio.html
  - image: images/gallery/home-07.jpg
    title: Ver galería
    link_to: portfolio.html
  - image: images/gallery/home-08.jpg
    title: Ver galería
    link_to: portfolio.html

milestones:
  - icon: list-ol
    from: 0
    to: 21
    title: Versiones SMM
  - icon: group
    from: 0
    to: 12300
    title: + Asistentes
  - icon: thumbs-up
    from: 0
    to: 160
    title: + Expositores
  - icon: file-text
    from: 0
    to: 160
    title: + Presentaciones
---


<div class='mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = '' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}
              
        <li class='frame static centered-text'>
          <div class='bg' style='background-image: url(images/home/bg.png);'></div>

          <div class='small-title bottom-to-top'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2 class="color-blue">XXIII Versión del Seminario de Medicina de Montaña - Evento híbrido: presencial y online</h2>
              </div>
            </div>
          </div>

          <div class='title bottom-to-top'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2 class="slide-title color-blue">9 y 10 de Octubre 2024</h2>
              </div>
            </div>
          </div>

          <div class='buttons-wrapper bottom-to-top'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a class='button bottom-to-top' href='https://www.passline.com/view-event/seminario-de-medicina-de-montana-cau-2024'>Inscripciones</a>
                {% endfor %}
              </div>
            </div>
          </div>

          <div class='logos-wrapper bottom-to-top hide-for-landscape'>
            <div class="row">
              <div class='small-3 columns'>
                <br>
              </div>
              <div class='small-3 columns'>
                <h5 class="small">Organiza</h5>
                <img src="images/logos2024/cau.png" />
              </div>
              <div class='small-3 columns'>
                <h5 class="small">Invita</h5>
                <img src="images/logos2024/diseno_uc.png" />
              </div>
              <div class='small-3 columns'>
                <br>
              </div>
            </div>
          </div>

          <div class='logos-wrapper bottom-to-top hide-for-small-only'>
            <div class="row">
              <div class='medium-1 small-3 columns'>
                <h5 class="small">Organiza</h5>
              </div>
              <div class='medium-1 small-3 columns'>
                <h5 class="small">Invita</h5>
              </div>
              <div class='hide-for-small-only medium-1 small-3 columns'>
                <h5 class="small">Auspician</h5>
              </div>
              <div class='medium-1 small-3 columns'>
              </div>
            </div>

            <div class="row">
              <div class='medium-1 small-3 columns'>
                <img src="images/logos2024/cau.png" />
              </div>

              <div class='medium-1 small-3 columns'>
                <img src="images/logos2024/diseno_uc.png" />
              </div>

              {% for client in site.data.clients %}
                <div class='medium-1 small-3 columns'>
                  <img alt="" src="{{client.image}}"/>
                </div>
              {% endfor %}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>


<div class='full parallax' style='background-image: url(); color: #000;'>
  <div class='row'>
    <div class='large-12 columns programe-section'>
      {% include section-header.html title="Programación" color="#000" %}

      <div class='medium-6 columns'>
        <p>    </p>
        <h3> Miércoles 9 de Noviembre </h3>

        <p>19:30 Enfermedad aguda de montaña: Exámenes previos, botiquín de altura e identificación precoz. <br> Dr. Mario Sandoval (Médico deportivo, especialista en tareas desarrolladas en altura geográfica) </p>
        <p>20:15 BREAK</p>
        <p>20:30 Primeros auxilios en áreas remotas: La estrategia es capacitación y planificación. <br> Francisco Vio (Director de NOLS Patagonia)</p>
      </div>

      <div class='medium-6 columns'>
        <p> </p>
        <h3> Jueves 10 de Octubre </h3>
        <p> 19:30 Psicología del miedo en escalada: Claves para desafiar los límites. <br> Camila Chia (Psicóloga Clínica, de la Actividad Física y el Deporte) </p>
        <p>20:15 BREAK</p>
        <p>20:30 Nutrición para deportes de resistencia: Estrategia para rendimiento óptimo en el sendero. <br> Natalie Cofré (Especialista en Nutrición Deportiva y Coaching Nutricional Consciente, Triatleta y Maratonista)</p>
      </div>
    </div>
</div>


<div class='full parallax' style='background-image: url(images/home/stadistics.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="SMM en números" color="#fff" %}
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for milestone in page.milestones %}
      <div class='medium-3 large-3 columns'>
        <div class='mod modMilestone'>
          <i class='fa fa-{{milestone.icon}}'></i>
          <strong data-from='{{milestone.from}}' data-to='{{milestone.to}}'>&nbsp;</strong>
          <span>{{milestone.title}}</span>
          <div class='four spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='two spacing'></div>
</div>


<div class="full" style="background: #fff;">
  <div class="row">
    <div class="large-12 columns centered-text">
      {% include section-header.html title="Quiénes somos" %}
      <p>
        El Seminario de Medicina de Montaña, organizado por el <a href="http://www.cau.cl">Club Andino Universitario</a>, tiene como objetivo entregar a la comunidad gratuitamentr conocimientos de Medicina y Seguridad en la práctica de deportes en la montaña, de la forma más inclusiva y transversal posible y de manera gratuita.
      </p>
      <div class="spacing"></div>
      <div class="hide-for-small-only">
        <iframe src="https://player.vimeo.com/video/205925193" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="two spacing"></div>
    </div>
  </div>


{% include our-customers.html %}

<div class='full no-padding' style='background: #f5f5f5'>
  <div class='mod modCallToAction'>
    <div class='row'>
      <div class='medium-9 large-9 columns'>
        <p>¿Tienes una empresa y te gustaría colaborar con el SMM?</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='button' href='contact.html'>Contáctanos</a>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div>


  <div class="mod modGallery">
    <ul class="gallery small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      {% for work in page.works %}
        <li class="{{ work.klass }}">
          <a href='{{ work.link_to }}'>
            <img alt="" src="{{ work.image }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.title }}</h3>
                <p>{{ work.desc }}</p>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
