---
layout: default
title: Galería
section_id: portfolio
works:
  - image: images/gallery/01.jpg
  - image: images/gallery/02.jpg
  - image: images/gallery/03.jpg
  - image: images/gallery/04.jpg
  - image: images/gallery/05.jpg
  - image: images/gallery/06.jpg
  - image: images/gallery/07.jpg
  - image: images/gallery/08.jpg
  - image: images/gallery/09.jpg
  - image: images/gallery/10.jpg
  - image: images/gallery/11.jpg
  - image: images/gallery/12.jpg
  - image: images/gallery/13.jpg
  - image: images/gallery/14.jpg
  - image: images/gallery/15.jpg
  - image: images/gallery/16.jpg
  - image: images/gallery/17.jpg
  - image: images/gallery/18.jpg
  - image: images/gallery/19.jpg
  - image: images/gallery/20.jpg
  - image: images/gallery/21.jpg
  - image: images/gallery/22.jpg
  - image: images/gallery/23.jpg
  - image: images/gallery/24.jpg
  - image: images/gallery/25.jpg
  - image: images/gallery/26.jpg
  - image: images/gallery/27.jpg
  - image: images/gallery/28.jpg
  - image: images/gallery/29.jpg
  - image: images/gallery/30.jpg
  - image: images/gallery/31.jpg
  - image: images/gallery/32.jpg
  - image: images/gallery/33.jpg
  - image: images/gallery/34.jpg
  - image: images/gallery/35.jpg
  - image: images/gallery/36.jpg
  - image: images/gallery/37.jpg
  - image: images/gallery/38.jpg
  - image: images/gallery/39.jpg
  - image: images/gallery/40.jpg
  - image: images/gallery/41.jpg
  - image: images/gallery/42.jpg
  - image: images/gallery/43.jpg
  - image: images/gallery/44.jpg
  - image: images/gallery/45.jpg
  - image: images/gallery/46.jpg
  - image: images/gallery/47.jpg
  - image: images/gallery/48.jpg
  - image: images/gallery/49.jpg


---


<div class='full parallax' style='background-image: url(images/home/Publico.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Galería" tagline="Revisa en imágenes lo que ha sido el SMM" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>

      {% assign counter = 1 %}
      <div class="row">
        {% for work in page.works %}
          {% assign cnt = counter|modulo:3 %}
          {% if cnt == 1 %}
            <div class="row centered-text">
              <div class='small-6 medium-4 large-4 columns'>
                <a href="{{work.image}}">
                  <img class="gallery-img" src="{{ work.image }}" />
                </a>
              </div>
          {% elsif cnt == 2 %}
              <div class='small-6 medium-4 large-4 columns'>
                <a href="{{work.image}}">
                  <img class="gallery-img" src="{{ work.image }}" />
                </a>
              </div>
          {% else %}
            <div class='small-6 medium-4 large-4 columns'>
              <a href="{{work.image}}">
                <img class="gallery-img" src="{{ work.image }}" />
              </a>
            </div>
            </div>
          {% endif %}


          {% assign counter = counter | plus:1 %}
        {% endfor %}</div>
      </div>



    </div>
  </div>

  <div class='four spacing'></div>
</div>
