---
layout: default
title: Biblioteca SMM
section_id: biblioteca
---

<div class='full parallax' style='background-image: url(images/home/presentador.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="Biblioteca SMM" color="#fff" tagline="Revisa presentaciones de versiones anteriores" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  {% include section-header.html title="Videos de presentaciones" color="#000" %}
  <div class='two spacing'></div>
  <div class='row'>
    <div class='medium-4 columns'>
      <iframe src="https://player.vimeo.com/video/231812159" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <a href="https://vimeo.com/231812159">Hoja de coca- &iquest;Sirve para prevenir la puna?, por Isidora Varas</a>
    </div>
    <div class='medium-4 columns'>
      <iframe src="https://player.vimeo.com/video/231810824" width="100%"frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <a href="https://vimeo.com/231810824">&iquest;Siempre tengo que usar factor 50 en la montaña?, por Hernán Correa</a>
    </div>
    <div class='medium-4 columns'>
      <iframe src="https://player.vimeo.com/video/231809266" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <p><a href="https://vimeo.com/231809266">Fumar marihuana- &iquest;Afecta mi rendimiento y seguridad?, por Matias Irarrazaval</a>
    </div>
  </div>

  <div class="centered-text">
    <a class='button ' href='https://vimeo.com/seminariomm'>Ver más videos en la cuenta de Vimeo del SMM</a>
  </div>


</div>




<div class='full'>
  <div class='row'>
    {% include section-header.html title="Presentaciones anteriores" color="#000" %}

    {% for year in site.data.repository %}
      <h3> {{year.year}} </h3>
      <ul class='socials'>
        {% for presentation in year.presentations %}
          <li>
            <a href="{{presentation.link}}">{{presentation.title}}</a>, por {{presentation.author}}
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</div>

<div class='four spacing'></div>
